/* FIGMA DESIGN LINK: https://www.figma.com/file/pa2aI4cYFAfPU6WICxCxRt/Web-Developer-Portfolio-Website-Template-(Community)?node-id=3%3A2416&mode=dev */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
/* font-family: "Ubuntu", sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.webPageContainer{
    margin: auto;
    width: 1280px;
}

nav{
    width: 1280px;
    height: 170px;
    background-color: rgba(41, 47, 54, 1);
    padding: 0px 128px;

    >.navItemsContainer{
        padding: 64px 0px 63px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px rgba(67, 69, 77, 1);
        
        >.navLogo{
            width: max-content;
            display: flex;
            gap: 8px;
            font-family: "IBM Plex Mono", monospace;
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            color: rgba(255, 255, 255, 1);

            >.navLogoTagText{
                color: rgba(18, 247, 214, 1);
            }
        }

        >.navNavigations{
            display: flex;
            align-items: center;
            gap: 64px;

            >.textNavigators{
                width: max-content;
                display: flex;
                gap: 32px;
                color: rgba(255, 255, 255, 1);
                font-family: "IBM Plex Mono", monospace;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;

                >a{
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                }
            }

            >.navSearch{
                max-width: 204px;
                display: flex;
                align-items: center;
                padding-right: 16px;
                border-radius: 24px;
                background-color: rgba(255, 255, 255, 1);
                
                >input{
                    width: 168px;
                    height: 32px;
                    padding-left: 16px;
                    border-radius: 24px 0px 0px 24px;
                    border: none;
                    outline: none;
                    font-family: "IBM Plex Mono", monospace;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: rgba(41, 47, 54, 1);
                }

                >.navSearchButton{
                    width: 20px;
                    height: 20px;
                    background: none;
                    border: none;
                    cursor: pointer;

                    >svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                
            }

            >.navSocials{
                display: flex;
                align-items: center;
                gap: 32px;

                >.navSocial{
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    >svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}


.hero{
    width: 1280px;
    padding: 64px 128px 128px 128px;
    background-color: rgba(41, 47, 54, 1);
    
    >.heroItemsContainer{
        display: flex;
        flex-direction: column;
        gap: 64px;

        >.heroImageContainer{
           display: flex; 
           justify-content: center;
           align-items: center;

           >.heroImage{
            width: 320px;
            height: 520px;
            background-color: black;
           }
        }

        >.introduction{
            display: flex;
            width: 960px;
            margin: auto;

            >.mainIntroduction{
                display: flex;
                flex-direction: column;
                gap: 32px;

                >.nameAndProffessionIntroductionContainer{
                    

                   >.nameAndProffessionIntroductionTagText{
                    color: rgba(152, 250, 236, 1);
                    font-family: "IBM Plex Mono", monospace;;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    width: max-content;
                   } 

                   >.nameAndProffessionIntroduction{
                    padding: 0px 16px;

                    >p{
                        font-family: "Ubuntu", sans-serif;
                        font-size: 64px;
                        font-weight: 400;
                        line-height: 72px;
                        color: rgba(255, 255, 255, 1);
                        width: max-content;
                    }
                   }
                }

                >.moreIntroduction{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    >.moreIntroductionTagText{
                        color: rgba(152, 250, 236, 1);
                        font-family: "IBM Plex Mono", monospace;;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        width: max-content; 
                    }

                    >.moreIntroductionText{
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        color: rgba(255, 255, 255, 1);
                        padding: 0px 24px;
                    }

                    >.moreIntroductionCallToActionsContainer{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        >.letsTalkCTA, >.downloadCvCTA{
                            display: flex;
                            gap: 16px;
                            width: max-content;

                            >p{
                                color: rgba(18, 247, 214, 1);
                                font-family: "IBM Plex Mono", monospace;
                                font-size: 32px;
                                font-weight: 500;
                                line-height: 42px;
                            }

                            >a{
                                width: 40px;
                                height: 40px;
                                text-decoration: none;
                                background-color: rgba(67, 69, 77, 1);
                                padding: 8px;
                                border-radius: 40px;
                                align-items: center;
                            }
                        }
                    }
                }
            }

            >.careerHighlights{
                background-color: rgba(26, 30, 35, 1);
                border-radius: 80px;
                box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 48px 32px;
                display: flex;
                flex-direction: column;
                gap: 48px;
                height: min-content;
                align-self: center;

                >.highlight{
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    >.highlightNumber{
                        color: rgba(18, 247, 214, 1);
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 48px;
                        font-weight: 500;
                        line-height: 62px;
                        width: max-content;
                    }

                    >.highlightText{
                        color: rgba(255, 255, 255, 1);
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        width: min-content;
                    }
                }
            }
        }
    }
}


.aboutMe{
    position: relative;
    width: 1280px;
    height: 1689px;
    padding: 128px;
    background: url("../images/aboutMeBackgroundImage.png");
    background-color: rgba(26, 30, 35, 1);


    >.aboutMeOverlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(26, 30, 35, 0.7);
    }

    >.aboutMeItemsContainer{
        position: relative;
        width: 1024px;
        display: flex;
        flex-direction: column;
        gap: 128px;

        >.mouseDirectionContainer{
            width: 1024px;
            height: 140px;

            >.mouseDirection{
                margin: auto;
                width: 32px;
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                >.mouse{
                    width: 32px;
                    height: 44px;

                    >.mouseFrame{
                        width: 32px;
                        height: 44px;
                        border: solid 4px rgba(18, 247, 214, 1);
                        border-radius: 100px;

                        >.mouseRoller{
                            width: 2.667px;
                            height: 7.33px;
                            background-color: rgba(18, 247, 214, 1);
                            margin: auto;
                            margin-top: 9.17px;
                        }
                    }
                    
                }

                >.direction{
                    width: 12px;
                    height: 87px;
                }
            }
        }

        >.aboutMeMainContentContainer{
            width: 1024px;
            height: 1229px;
            display: flex;
            flex-direction: column;
            gap: 128px;
            padding: 0px 64px 0px 128px;

            >.aboutMeTextContentContainer{
                display: flex;
                flex-direction: column;
                gap: 64px;
                width: 880px;
                height: 545px;

                >.aboutMeTextContentTitle{
                    width: 367px;
                    height: 104px;
                    padding: 16px 40px;
                    border-radius: 40px 0px;
                    border: 4px solid rgba(18, 247, 214, 1);
                    background: rgba(41, 47, 54, 1);

                    >p{
                        font-family: "Ubuntu", sans-serif;
                        color: rgba(255, 255, 255, 1);
                        font-size: 64px;
                        font-weight: 400;
                        line-height: 72px;
                        width: 287px;
                    }
                }
            }
        }
    }
}
