/* FIGMA DESIGN LINK: https://www.figma.com/file/gkzGmMKjmW8gZd92rPJtVa/Portfolio-Design-Template-(Community)?node-id=5%3A32&mode=dev */



@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
}


body{
    background-color: rgba(34, 31, 31, 1);
}

.webPageContainer{
    width: 1440px;
    margin: auto;
    background-color: rgba(34, 31, 31, 1);
}

.nav{
    margin: auto;
    height: 67px;
    width: 1320px;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.navNameLogo{
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-weight: 700;
        
        >span{
            color: rgba(166, 187, 204, 1);
        }
    }

    >.navigations{
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 39px;
        
        >li>a{
        font-family: "Poppins", sans-serif;
        font-size: 27px;
        font-weight: 400;
        text-decoration: none;
        }

        >li>a:hover{
            color: rgba(166, 187, 204, 1);
        }
    }

    >.navGithubIcon{
        width: 63px;
        height: 63px;

        >svg{
            width: 63px;
            height: 63px;
        }
    }

    >.navGithubIcon:hover{
        >svg{
            >#navGithubIconPath{
                fill: rgba(166, 187, 204, 1);
            }
        }
    }
}

.hero{
    width: 1235px;
    margin: auto;
    margin-top: 47px;
    display: flex;
    gap: 21px;

    >.introductionAndHeroContactMeButtonContainer{
        width: 616px;
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        justify-content: center;

        >.introduction{

            >.heroName{
                font-size: 28px;
                font-weight: 500;

                >span{
                    color: rgba(166, 187, 204, 1);
                }
            }
    
            >.heroProffession{
                color: rgba(166, 187, 204, 1);
                font-size: 100px;
                line-height: 116px;
                font-weight: 800;
            }
        }

        >.heroContactMeButton{
            width: 169px;
            height: 82px;
            font-size: 26px;
            line-height: 116px;
            font-weight: 800;
            background: none;
            border: none;
            cursor: pointer;
            border-bottom: solid 4px rgba(166, 187, 204, 1);
        }

        >.heroContactMeButton:hover{
            color: rgba(166, 187, 204, 1);
        }
    }

    >.heroImage{
        width: 600px;
        height: 736px;
        background-color: lightgray 50%;
        border-radius: 47px;

        >.img{
            width: 600px;
            height: 736px;
        }
    }
}

.about{
    width: 1235px;
    margin: auto;
    margin-top: 1px;

    >.aboutHeaderAndRectangleContainer{
        display: flex;
        gap: 47px;
        
        >.aboutHeader{
            color: rgba(166, 187, 204, 1);
            font-family: "Poppins", sans-serif;
            font-size: 75px;
            font-weight: 800;
            line-height: 116px;
        }

        >.aboutRectangle{
            width: 955px;
            background-color: rgba(166, 187, 204, 1);
            height: 4px;
            align-self: center;
        }
    }

    >.aboutText{
        width: 956px;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 44px;
        margin: auto;
    }

    >.skills{
        width: 1091px;
        margin: auto;
        margin-top: 50px;

        >.skillsAndExperienceContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 131px 131px;
            row-gap: 58px;

            >.skillAndExperience{
                width: 345px;
                display: flex;
                flex-direction: column;
                gap: 14px;
                font-family: "Space Grotesk", sans-serif;
                
    
                >.skill{
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 56px;
                    letter-spacing: -1.5px;
                }
    
                >.experience{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: rgba(217, 217, 217, 1);                
                    text-decoration: underline;
                    text-decoration-color: rgba(166, 187, 204, 1);
                    text-decoration-thickness: 2px;  
                }
            }

        }
        


    }
}

.projects{
    width: 1235px; 
    margin: auto;
    margin-top: 101px;
    
    
    >.projectsHeaderAndRectangleContainer{
        display: flex;
        gap: 46px;
        margin-bottom: 80px;
        
        >.projectsHeader{
            color: rgba(166, 187, 204, 1);
            font-family: "Poppins", sans-serif;
            font-size: 75px;
            font-weight: 800;
            line-height: 116px;
        }

        >.projectsRectangle{
            width: 868.84px;
            background-color: rgba(166, 187, 204, 1);
            height: 4px;
            align-self: center;
        }
    }

    >.projectsContainer{
        width: 1235px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 69px;
        row-gap: 69px;
        
        
        >.projectProjectNameAndProjectLanguagesContainer{
            width: 540px;
            margin: auto;

            >.project{
                width: 540px;
                height: 400px;
                background: lightgray 50%;
                margin-bottom: 20px;
                position: relative;
                border-radius: 10px;
                margin: auto;

                >img{
                    width: 540px;
                    height: 400px;
                    border-radius: 10px;
                }

                >.projectOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.75);
                    visibility: hidden;
                  }
                
                >.viewProjectAndViewCodeButtonsContainer{
                    width: 138px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 48px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    visibility: hidden;
                    
                    >.viewProjectButton {
                        width: 138px;
                        height: 38px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 2.286px;
                        padding-bottom: 10px;
                        border: none;
                        border-bottom: solid 2px rgba(166, 187, 204, 1);
                        background: none;
                        cursor: pointer;
                        font-family: "Space Grotesk", sans-serif;
                    }

                    >.viewCodeButton {
                        width: 103px;
                        height: 38px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 2.286px;
                        padding-bottom: 10px;
                        border: none;
                        border-bottom: solid 2px rgba(166, 187, 204, 1);;
                        background: none;
                        cursor: pointer;
                        font-family: "Space Grotesk", sans-serif;
                    }

                    >.viewProjectButton:hover, .viewCodeButton:hover{
                        color: rgba(166, 187, 204, 1);
                    }
                }
            }

            >.project:hover{
                
                >.viewProjectAndViewCodeButtonsContainer, .projectOverlay{
                    visibility: visible;
                }
            }

            >.projectNameAndProjectLanguagesContainer{
                display: flex;
                margin-top: 31px;
                flex-direction: column;
                gap: 7px;

                >.projectName{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    font-family: "Space Grotesk", sans-serif;
                }

                >.projectLanguagesContainer{
                    display: flex;
                    gap: 18px;
                    flex-wrap: wrap;

                    >p{
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 500;
                        color: rgba(217, 217, 217, 1);
                        font-family: "Space Grotesk", sans-serif;
                    }
                }
            }
        }

    }
      
}

footer{
    width: 1235px; 
    margin: auto;
    margin-top: 33px;
    margin-bottom: 18px;

    >.contact{
        margin-bottom: 68px;

        >.contactHeaderAndRectangleContainer{
            display: flex;
            gap: 24px;
            margin-bottom: 15px;
            
            >.contactHeader{
                color: rgba(166, 187, 204, 1);
                font-family: "Poppins", sans-serif;
                font-size: 75px;
                font-weight: 800;
                line-height: 116px;
            }
    
            >.contactRectangle{
                width: 764px;
                background-color: rgba(166, 187, 204, 1);
                height: 4px;
                align-self: center;
            }
        }

        >.contactText{
            width: 848px;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            font-family: "Space Grotesk", sans-serif;
            height: 144px;
            margin: auto;
        }

        >.contactForm{
            margin: auto;
            width: 748px;
            display: flex;
            flex-direction: column;
            gap: 57px;

            >div{
                width: 748px;

                >input{
                    width: 748px;
                    padding-left: 24px;
                    padding-bottom: 17px;
                    background: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: -0.222px;
                    color: rgba(255, 255, 255, 1);
                    border: none;
                    border-bottom: rgba(255, 255, 255, 1) solid 1px;
                    outline: none;
                }

                >textarea{
                    width: 748px;
                    height: 191px;
                    padding-left: 24px;
                    padding-bottom: 17px;
                    background: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: -0.222px;
                    color: rgba(255, 255, 255, 1);
                    border: none;
                    border-bottom: rgba(255, 255, 255, 1) solid 1px;
                    outline: none;
                    resize: none;
                }
            }

            >.contactFormSendMessageButton {
                width: 242px;
                margin: auto;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 2.286px;
                padding-top: 15px;
                padding-bottom: 23.29px;
                border: none;
                border-bottom: solid 3.5px rgba(166, 187, 204, 1);
                background: none;
                cursor: pointer;
            }

            >.contactFormSendMessageButton:hover{
                color: rgba(166, 187, 204, 1);
            }
        }
    }

    >.footerLogoNameAndSocialsContainer {
        width: 1235px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        >.footerLogoName{
            font-family: "Inter", sans-serif;
            font-size: 32px;
            font-weight: 700;
            text-decoration: none;
            align-self: center;
            
            >span{
                color: rgba(166, 187, 204, 1);
            }
        }

        >.footerSocialsContainer {
            height: 67px;
            display: flex;
            gap: 20px;
            align-items: center;

            >.footerSocial {
                width: 30px;
                height: 30px;


                >svg{
                    width: 30px;
                    height: 30px;
                }
            }

            >.footerSocial:hover{

                >svg{

                    >.footerSocialPath{
                        fill: rgba(166, 187, 204, 1);
                    }
                }
            }
        }
    }
}