@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* font-family: "IBM Plex Mono", monospace; */
/* font-family: "Ubuntu", sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.webPageContainer{
    margin: auto;
    width: 1280px;
}

nav{
    background-color: rgba(41, 47, 54, 1);
    padding: 0px 128px;

    >.navItemsContainer{
        padding: 64px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        >.navLogo{
            width: max-content;
            display: flex;
            gap: 8px;
            font-family: "IBM Plex Mono", monospace;
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            color: rgba(255, 255, 255, 1);

            >.navLogoTagText{
                color: rgba(18, 247, 214, 1);
            }
        }

        >.navNavigations{
            display: flex;
            gap: 64px;

            >.textNavigators{
                width: max-content;
                display: flex;
                gap: 32px;
                color: rgba(255, 255, 255, 1);
                font-family: "IBM Plex Mono", monospace;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;

                >a{
                    color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                }
            }

            >.navSearch{
                width: max-content;
                display: flex;
                border-radius: 24px;
                background-color: rgba(255, 255, 255, 1);
                
                
                >input{

                }

                >svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
